<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>703923290754-luutgsgp07pojbtv6l1hjifr4vu8alkb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.703923290754-luutgsgp07pojbtv6l1hjifr4vu8alkb</string>
	<key>API_KEY</key>
	<string>AIzaSyAkebTcKdKXCz4h7emfDiskicA8nMvmIfc</string>
	<key>GCM_SENDER_ID</key>
	<string>703923290754</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.asadsheikh.edunova</string>
	<key>PROJECT_ID</key>
	<string>edunova-465aa</string>
	<key>STORAGE_BUCKET</key>
	<string>edunova-465aa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:703923290754:ios:b5b9b74fc5d10afea16a9b</string>
</dict>
</plist>